<% if user_signed_in? %>
  <div class="row">
    <div class="col-9">
      <div class="media">
        <div class="pull-left">
          <%= link_to gravatar_for(current_user), current_user %>
        </div>
        <div class="media-body">
          <div class="well">
            <%= link_to 'New Post', new_post_path %>
          </div>
        </div>
      </div>
      <%= render @posts %>
    </div>
    <div class="col-3">
      <div class="well" id="stats">
        <p><i class="glyphicon glyphicon-file"> </i>Posts: <%= current_user.posts.length %></p>
        <p><i class="glyphicon glyphicon-user"> </i>Followers: <%= current_user.count_user_followers %></p>
      </div>
      <div class="well" id="stats">
        <p><i class="glyphicon glyphicon-plus"> </i><%= link_to "Find blogs", posts_path %></p>
      </div>
    </div>
  </div>
<% else %>
  <div class="jumbotron">
    <h1 class="center">The easiest way to blog.</h1>
    <%= simple_form_for(@user, as: :user, url: registration_path(:user)) do |f| %>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true %>
      <%= f.input :username, required: true %>
      <div class="center">
        <%= f.submit "Sign up and start posting!", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>
